[submodule "bundles/laravel-oauth2"]
	path = bundles/laravel-oauth2
	url = git://github.com/taylorotwell/laravel-oauth2.git
[submodule "bundles/eloquent"]
	path = bundles/eloquent
	url = git://github.com/taylorotwell/eloquent.git
