/*!
 * Laravel
 *
 * Copyright 2012 Laravel
 *
 * Designed by wearafixel and built with bootstrap.
 * See humans.txt for full site credits.
 */
.bundles-hero-unit {
  z-index: 5;
  margin-top: -15px;
  background-color: #e9edee;
  min-height: 212px;
  position: relative;
  font-family: "droid-serif", serif;
  text-align: left;
}
.bundles-hero-unit .container {
  background: url(../img/jumbotron.png) no-repeat center top;
  height: 212px;
}
.bundles-hero-unit h1 {
  padding: 40px 0 0;
  text-transform: none;
  font-size: 30px;
  line-height: 42px;
  font-family: "droid-serif", serif;
  margin: 0;
  font-weight: normal;
}
.bundles-hero-unit p {
  font-size: 14px;
  line-height: 24px;
  color: #7a7d7d;
}
.bundles-hero-unit .login-bar {
  padding: 0 0 13px 0;
  margin-bottom: 10px;
}
.bundles-hero-unit .login-bar .btn {
  padding: 0px 10px 0px;
  background: #fff;
}
.bundles-hero-unit .login-bar a {
  position: relative;
}
.bundles-hero-unit .login-bar a.welcome {
  padding-left: 42px;
  font-weight: bold;
}
.bundles-hero-unit .login-bar .gravatar {
  position: absolute;
  left: 0px;
  top: -5px;
  border: 1px solid #ccc;
}
.bundles-hero-unit form {
  margin: 0;
}
.bundles-hero-unit form input {
  -webkit-box-shadow: inset 0 1px 1px #f0f3f4, 0 0 8px rgba(47, 48, 48, 0.6);
  -moz-box-shadow: inset 0 1px 1px #f0f3f4, 0 0 8px rgba(47, 48, 48, 0.6);
  box-shadow: inset 0 1px 1px #f0f3f4, 0 0 8px rgba(47, 48, 48, 0.6);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 350px;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 15px;
  background: #ffffff url(../img/loupe.png) no-repeat 340px center;
}
.featured-box {
  z-index: 25;
  border: 1px solid #c8cccc;
  min-height: 150px;
  background: #fff;
  -webkit-box-shadow: inset 0 1px 1px #f0f3f4, 0 0 2px rgba(47, 48, 48, 0.2);
  -moz-box-shadow: inset 0 1px 1px #f0f3f4, 0 0 2px rgba(47, 48, 48, 0.2);
  box-shadow: inset 0 1px 1px #f0f3f4, 0 0 2px rgba(47, 48, 48, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 45px 0 0;
  padding: 10px 30px 10px;
}
.featured-box h2 {
  font-family: "proxima-nova", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.featured-box h2 span {
  font-weight: 400;
}
.featured-box a {
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 128px;
}
.featured-box img {
  float: left;
  margin-right: 20px;
}
#home table td {
  border: none;
  border-bottom: 1px dashed #6a6a6a;
  padding-left: 0;
}
#home h3 a {
  color: #fbcc62;
}
#home h4 {
  margin: 0;
  text-transform: uppercase;
  color: #C8CCCC;
  font-size: 12px;
}
#home h4 a {
  color: #fff;
}
.midcontent {
  z-index: 10;
  background-image: none;
  padding: 0;
}
.popular-box {
  background: url(../img/popular.png) no-repeat 5px top;
  padding-left: 65px;
  margin-bottom: 36px;
}
.popular-box h3 small {
  padding: 0 0 3px 10px;
}
.updated {
  background: url(../img/updated.png) no-repeat 5px top;
  padding-left: 65px;
  margin-bottom: 36px;
}
.sponsor {
  width: 149px;
  height: 60px;
  margin-top: 20px;
  display: block;
  text-indent: -9000px;
  background: transparent url(../img/userscape.png) no-repeat 0 0;
}
#bundle .row h1 {
  border: none;
  margin: 0 0 10px 0;
}
#bundle .content .bundle-tabs {
  *zoom: 1;
}
#bundle .content .bundle-tabs:before,
#bundle .content .bundle-tabs:after {
  display: table;
  content: "";
}
#bundle .content .bundle-tabs:after {
  clear: both;
}
#bundle .content .nav-tabs {
  margin: 0 10px 1px 0;
  text-align: right;
  border: none;
  float: right;
}
#bundle .content .nav-tabs li {
  margin: 0 2px -1px;
  font-family: "proxima-nova", sans-serif;
}
#bundle .content .nav-tabs li.active a {
  background: whiteSmoke;
  border-bottom: none;
  color: #484a4a;
}
#bundle .content .nav-tabs li a {
  border-top: 1px solid #545757;
  border-right: 1px solid #545757;
  border-left: 1px solid #545757;
  border-bottom: none;
  background: #484a4a;
  color: #c8cccc;
}
#bundle .content .nav-tabs li a:hover {
  background: whiteSmoke;
  border-bottom: none;
  color: #484a4a;
}
#bundle .well {
  background-image: none;
  box-shadow: none;
  border-top: none;
}
#bundle .tab-content {
  margin-top: 20px;
}
#bundle fieldset {
  border: 1px solid #c8cccc;
  font-family: "proxima-nova", sans-serif;
  color: #6a6a6a;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}
#bundle fieldset legend {
  margin: 0 10px;
  padding: 0 10px;
  border: none;
  line-height: 24px;
  font-size: 14px;
  width: auto;
  color: #6a6a6a;
  text-transform: uppercase;
  border: none;
}
#bundle fieldset .gravatar {
  float: left;
  margin: 6px;
  border: 1px solid #6a6a6a;
}
#bundle fieldset ul {
  margin-left: 70px;
}
#bundle fieldset li {
  margin: 0;
  padding: 0;
}
#bundle .tags {
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  padding: 10px 0;
}
#bundle .tags a {
  font-family: "proxima-nova", sans-serif;
  border: 1px solid #e6b543;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px 5px;
  background-color: #fbcb65;
  background-image: -moz-linear-gradient(top, #fcd271, #fac153);
  background-image: -ms-linear-gradient(top, #fcd271, #fac153);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcd271), to(#fac153));
  background-image: -webkit-linear-gradient(top, #fcd271, #fac153);
  background-image: -o-linear-gradient(top, #fcd271, #fac153);
  background-image: linear-gradient(top, #fcd271, #fac153);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcd271', endColorstr='#fac153', GradientType=0);
  border-color: #fac153 #fac153 #f8a609;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #99722f;
  text-decoration: none;
}
#bundle .tags a:hover {
  background-color: #fbc85f;
  background-image: -moz-linear-gradient(top, #fac153, #fcd271);
  background-image: -ms-linear-gradient(top, #fac153, #fcd271);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fac153), to(#fcd271));
  background-image: -webkit-linear-gradient(top, #fac153, #fcd271);
  background-image: -o-linear-gradient(top, #fac153, #fcd271);
  background-image: linear-gradient(top, #fac153, #fcd271);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fac153', endColorstr='#fcd271', GradientType=0);
  border-color: #fcd271 #fcd271 #faba26;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #99722f;
  text-decoration: none;
}
#bundle .tags li {
  display: inline;
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding-right: 5px;
}
#bundle .tags li.first {
  font-weight: 700;
  padding-right: 10px;
}
#bundle .rating {
  border: 1px solid #bfbfbf;
  background: #f8f8f8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
#bundle .rating:hover {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e04a36;
  background-color: #fb5541;
  background-image: -moz-linear-gradient(top, #fc624d, #fa412f);
  background-image: -ms-linear-gradient(top, #fc624d, #fa412f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fc624d), to(#fa412f));
  background-image: -webkit-linear-gradient(top, #fc624d, #fa412f);
  background-image: -o-linear-gradient(top, #fc624d, #fa412f);
  background-image: linear-gradient(top, #fc624d, #fa412f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc624d', endColorstr='#fa412f', GradientType=0);
  border-color: #fa412f #fa412f #d71805;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #fff;
}
#bundle .rating:hover i {
  background-position: -68px -2px;
}
#bundle .rated {
  background: #ebebeb;
  opacity: 0.5;
  cursor: not-allowed;
}
#bundle .rated:hover {
  background: #ebebeb;
  opacity: 0.5;
  cursor: not-allowed;
  color: #111;
}
#bundle .rated:hover i {
  background-position: -87px -2px;
}
#bundle pre code {
  border: none;
  color: #333;
}
#bundle #readme h1 {
  font-size: 28px;
  text-transform: none;
  margin-bottom: 10px;
}
#bundle #readme h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
#bundle #readme h3 {
  font-size: 16px;
}
#bundle #readme h4 {
  font-size: 14px;
}
#bundle #readme h5 {
  font-size: 12px;
}
#installation {
  width: 500px;
  border: none;
  color: #333;
}
pre.bsh:before {
  content: " $ ";
  color: #93A1A1;
}
i.thumb-white {
  background-position: -68px -2px;
}
i.thumb-grey {
  background-position: -87px -2px;
}
i.lock {
  background-position: -120px -2px;
}
i.plus {
  background-position: -105px -2px;
}
/* Add/Edit Bundles */
#bundle .center {
  text-align: center;
}
#bundle .continue {
  margin: 0 0 20px 20px;
}
#bundle #ajax-loader {
  display: none;
}
#bundle textarea {
  width: 80%;
}
#bundle .add .bundle_extras {
  display: none;
}
#bundle .add .error .alert {
  display: none;
}
#bundle .add .error .bundle_extras {
  display: block;
}
#bundle .edit .info {
  display: none;
}
#bundle .relative {
  position: relative;
}
#bundle .or {
  position: absolute;
  top: 3px;
  right: 16px;
  font-weight: bold;
  font-size: 16px;
  font-family: "proxima-nova", sans-serif;
}
/* End */
/* Tables */
table td.gravatar {
  width: 70px;
}
table img.gravatar {
  border: 1px solid #ccc;
  padding: 2px;
}
table td.meta {
  width: 5%;
}
.rss {
  background-image: url(../img/feed-icon-14x14.png);
  text-indent: -9000px;
  width: 14px;
  height: 14px;
  display: block;
}
.sidebar.bundle_detail {
  margin-top: 40px;
}
.sidebar form input {
  background: #484a4a;
  color: #afb2b2;
  border: none;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  line-height: 12px;
}
.sidebar form:-moz-placeholder {
  color: #afb2b2;
}
.sidebar form::-webkit-input-placeholder {
  color: black;
  font-family: "droid-serif", serif;
  font-size: 12px;
}
.sidebar span {
  color: #fff;
}
.sidebar .btns {
  text-align: right;
}
.sidebar .btns .btn {
  margin: 10px 0;
}
.btns {
  font-family: Helvetica, Arial, sans-serif;
}
.btns .btn {
  color: #474747;
}
.ui-autocomplete {
  background-color: #fff;
  position: absolute;
  cursor: default;
  list-style: none;
  margin: 25px 0 0;
  padding: 0;
  border: 1px solid #E5E5E5;
  border-top: none;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  -moz-box-shadow: 0 3px 5px #888;
  -webkit-box-shadow: 0 3px 5px #888;
  box-shadow: 0 3px 5px #888;
  font-size: 12px;
}
.ui-autocomplete .ui-menu-item {
  padding: 0;
  margin: 0;
  float: none;
}
.ui-autocomplete .ui-menu-item a {
  display: block;
  padding: 4px 6px;
  margin: 0;
  text-decoration: none;
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #fff;
  color: #484A4A;
  font-family: "proxima-nova", sans-serif;
  font-size: 12px;
  line-height: 24px;
}
.ui-autocomplete .ui-menu-item a.ui-state-hover,
.ui-autocomplete .ui-menu-item a.ui-state-active {
  background-color: #ccc;
  color: #555;
  border-color: #c8cccc;
}
.ui-autocomplete-loading {
  background: #ffffff url(../img/ui-anim_basic_16x16.gif) right center no-repeat;
}
ul.tagit {
  cursor: text;
  overflow: auto;
  font-size: 14px;
  width: 97%;
  padding: 3px;
  margin: 2px 6px 16px 0;
  background: #fff;
  color: #555;
  border: 1px solid #ccc;
}
ul.tagit li {
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
  position: relative;
}
ul.tagit li.tagit-choice {
  font-family: "proxima-nova", sans-serif;
  border: 1px solid #e6b543;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2px 13px 3px 4px;
  background-color: #fbcb65;
  background-image: -moz-linear-gradient(top, #fcd271, #fac153);
  background-image: -ms-linear-gradient(top, #fcd271, #fac153);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcd271), to(#fac153));
  background-image: -webkit-linear-gradient(top, #fcd271, #fac153);
  background-image: -o-linear-gradient(top, #fcd271, #fac153);
  background-image: linear-gradient(top, #fcd271, #fac153);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcd271', endColorstr='#fac153', GradientType=0);
  border-color: #fac153 #fac153 #f8a609;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #99722f;
  text-decoration: none;
}
ul.tagit li.tagit-choice.selected {
  background-color: #f5b0b0;
  border-color: #f76464;
}
ul.tagit li.tagit-choice:hover {
  border: 1px solid #e6b543;
  background-color: #fbc85f;
  background-image: -moz-linear-gradient(top, #fac153, #fcd271);
  background-image: -ms-linear-gradient(top, #fac153, #fcd271);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fac153), to(#fcd271));
  background-image: -webkit-linear-gradient(top, #fac153, #fcd271);
  background-image: -o-linear-gradient(top, #fac153, #fcd271);
  background-image: linear-gradient(top, #fac153, #fcd271);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fac153', endColorstr='#fcd271', GradientType=0);
  border-color: #fcd271 #fcd271 #faba26;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
ul.tagit li.tagit-new {
  padding: 2px 4px 3px;
  padding: 2px 4px 1px;
  padding: 2px 4px 1px 0;
}
ul.tagit li.tagit-choice input {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding-top: 2px;
  padding-bottom: 2px;
}
ul.tagit li.tagit-choice a.tagit-close {
  color: #99722F;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  outline: medium none;
  padding: 2px 0 2px 3px;
  text-decoration: none;
  position: absolute;
  display: block;
  top: 0;
  right: 3px;
}
ul.tagit li.tagit-choice a.tagit-close:hover {
  color: #535353;
}
ul.tagit input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-shadow: none;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  width: inherit !important;
  outline: none;
}
.form-search .tagit-hiddenSelect,
.form-inline .tagit-hiddenSelect,
.form-horizontal .tagit-hiddenSelect {
  display: none;
}
.tagit-hiddenSelect {
  display: none;
}
