#home {
	table {
		td {
			border: none;
			border-bottom: 1px dashed #6a6a6a;
		}
	}
	h3 a {
		color: #fbcc62;
	}
	h4 {
		margin: 0;
		text-transform: uppercase;
		color: #C8CCCC;
		font-size: 12px;
		a {
			color: #fff;
		}
	}
}