// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------



// GLOBAL VALUES
// --------------------------------------------------

// Links
@linkColor:             #fb503b;
@linkColorHover:        #c74130;

// Grays
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;
@yellow:			    #fbcc62;

// Accent colors
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

// Typography
@baseFontSize:          12px;
@baseFontFamily:        "droid-serif",serif;
@baseLineHeight:        24px;

@jumboFontFamily:       "droid-serif",serif;
@jumboFontSize:         30px;
@jumboLineHeight:       42px;

@sansFont:              "proxima-nova",sans-serif;
@serifFont:             "droid-serif",serif;
@bold:                  700;