body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #6D6D6D;
	padding-top: 60px;
}
.topbar h3 {
	font-family: 'Lobster Two';
}

h1.main {
	font-family: 'Lobster Two';
	font-size: 80px;
	color: #6D6D6D;
	margin: 0 0 20px;
	padding: 0;
	text-shadow: 1px 1px 1px #DDD;
	line-height: normal;
	a,a:hover {
		color: #6D6D6D;
		text-decoration: none;
	}
}

.sidebar {

	h2 {
		font-size: 21px;
		color: #6D6D6D;
		margin: 0;
	}

	ul {
		margin: 0;
	}
	li {
		position: relative;
		border-bottom: 1px solid #C4C4C4;
		margin: 0;
		padding: 5px;
		display: block;
		list-style-type: none;
		cursor: pointer;

		a {
			display:block;
			color: #333;
		}
	}
}
ul.tags {
	border-top: 1px solid #ebebeb;
	padding: 10px 0 0;
	margin: 0;
	li.first{
		border-left: none;
		padding-left: 22px;
		background: url(../img/tag.png) no-repeat left center;
	}
	li {
		display: inline;
		padding: 5px;
		margin: 0;
		border-left: 1px solid #ebebeb;
	}
}

.installation {
	pre:before {
		content: " $ ";
		color: #93A1A1;
	}
}

/* Add/Edit Bundles */
#bundle {
	#ajax-loader {
		display: none;
	}
}
#bundle.add {
	.bundle_extras {
		display: none;
	}
}
#bundle.edit {
	.info {
		display: none;
	}
}
/* End */

/* Bundle Details */
#bundle.detail {
	h1 {
		margin: 0;
		font-family: HelveticaNeue-CondensedBold, Roboto-Condensed, sans-serif;
	}
	.info {
		border-right: 1px solid #ddd;
		padding: 0 10px 0 0;
	}
	.meta {
		margin: 0 0 20px 0;
		padding: 0;
		/*@include border-radius(4px);
		border: 1px solid #ddd;*/

		li {
			color: #111;
		}
		a {
			color: #ccc;
			text-decoration:none;
			border-bottom: 1px solid #ccc;
		}
		a:hover {
			color: #ccc;
			border-bottom: none;
		}
	}
}
/* End */
#home {
	.grid {
		.info {
			width: 290px;
		}
	}
}

table {

	h3 {
		font-family: HelveticaNeue-CondensedBold, Roboto-Condensed, sans-serif;
	}
	a {
		color: #222;
	}
	.item:nth-child(even) {
		background-color: whiteSmoke;
	}
	.item {
		border-bottom: 1px solid #E5E5E5;
	}
	td.gravatar {
		width: 70px;
	}
	img.gravatar {
		border: 1px solid #ccc;
		padding: 2px;
	}
	.info {
		float: left;
		width: 350px;
		margin-right: 12px;
		position: relative;
		top: -3px;
	}
	.meta {
		width: 50px;
	}
	tr.status_n {
		opacity: 0.5;
	}
}

.hide {
	display: none;
}
/* Auto Complete */
.autocomplete-w1 { background:url(../img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
