body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #6D6D6D;
	padding-top: 80px;
}
.container {
	padding: 10px 0;
}
h1, h2, h3 {
	font-family: HelveticaNeue-CondensedBold, Roboto-Condensed, sans-serif;
}
.hero-unit {
	padding: 30px 60px;
	.pull-left {
		width: 60%;
	}
	ul {
		margin: 0;
	}
	li {
		margin-left: 2em;
		margin-bottom: 0.5em;
		color: #555;
	}
}
.topbar {
	h3 {
		font-family: 'Lobster Two';
		a {
			color: #fff;
			padding: 12px 20px 12px;
		}
		a:hover {
			color: #ebebeb;
			background: none;
		}
	}
	form {
		margin: 8px 0 0 0;
	}
	ul {
		background: url(../img/nav-spacer.png) no-repeat right center;
	}
	div > ul a, .nav a {
		padding: 13px 10px 11px;
	}
	.login {
		margin-top: 8px;
	}
	.login a {
		padding: 5px 14px 6px;
	}
	li {
		background: url(../img/nav-spacer.png) no-repeat left center;
		a {
			line-height: 1;
			letter-spacing: 0.05em;
		}
	}
	div ul li.active > a, div li.active > a {
		background: none;
	}
	ul.secondary-nav, .secondary-nav li {
		background: none;
	}
	.gravatar {
		float: left;
		margin: -2px 10px;
	}
	input {
		color: #fff;
		text-shadow: 0 1px 0 #111;
	}
	input:focus, .topbar input.focused {
		outline: 0;
		background-color: #ccc;
  		color: #111;
  		text-shadow: 0 1px 0 white;
  		border: 0;
  		padding: 5px 10px;
  		-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  		-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
		-o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	}
}

h1.main {
	font-family: 'Lobster Two';
	font-size: 80px;
	color: #6D6D6D;
	margin: 0 0 20px;
	padding: 0;
	text-shadow: 1px 1px 1px #DDD;
	line-height: normal;
	a,a:hover {
		color: #6D6D6D;
		text-decoration: none;
	}
}
.main {
	p {
		font-size: 16px;
		margin-bottom: 20px;
	}
}
ul.inline {
	li {
		display: inline;
		padding: 5px 10px;
		margin: 0;
	}
}
footer {
	background: url(../img/footer-bg.png);
	height: 100%;
	ul.footer {
		margin: 0;
	}
	h3 {
		color: #B7B7B7;
		margin: 0;
		padding: 0;
		background: url(../img/nav-footer-spacer.png) repeat-x bottom;
		letter-spacing: 1px;
		text-shadow: 0 1px 0 #000;
		text-transform: uppercase;
		font-size: 15px;
		font-family: HelveticaNeue-CondensedBold, Roboto-Condensed, sans-serif;
	}
	ul {
		padding: 0;
		margin: 0;
		color: #ccc;
		li:last-child{
			background: none;
		}
		li {
			padding: 8px 0;
			margin: 0;
			color: #ccc;
			font-size: 12px;
			text-shadow: 0 1px 0 #000;
			a {
				color: #fff;
			}
			a:hover {
				color: #fff;
			}
		}
	}
	.cats {
		li {
			background: url(../img/nav-footer-spacer.png) repeat-x bottom left;
			width: 150px;
		}
	}
	img {
		margin: 30px 0 0 40px;
	}
}

iframe {
	padding: 3px;
	margin: 10px 0 20px;
	border: 1px solid #CCC;
	background: #EBEBEB;
}
.sidebar {

	h2 {
		font-size: 21px;
		color: #6D6D6D;
		border-bottom: 1px #EEE solid;
		margin-bottom: 0.75em;
		text-transform: uppercase;
	}
	ul {
		margin: 0;
	}
	li.active {
		a {
			color: #555;
			text-decoration: none;
		}
	}
	li {
		margin-left: 2em;
		margin-bottom: 0.5em;
		color: #555;
		a {
			margin-left: -15px;
			margin-bottom: 1px;
			padding: 6px 0 0 15px;
		}
	}
	hr {
		margin: 26px 0;
		border: 0;
		border-top: 1px solid #EEE;
		border-bottom: 1px solid white;
	}
}
ul.tags {
	border-top: 1px solid #ebebeb;
	padding: 10px 0 0;
	margin: 0;
	li.first{
		border-left: none;
		padding-left: 22px;
		background: url(../img/tag.png) no-repeat left center;
	}
	li {
		display: inline;
		padding: 5px;
		margin: 0;
		border-left: 1px solid #ebebeb;
	}
}

.installation {
	h2 {
		margin: 20px 0;
	}
	pre:before {
		content: " $ ";
		color: #93A1A1;
	}
}

/* Add/Edit Bundles */
#bundle {
	#ajax-loader {
		display: none;
	}
}
#bundle.add {
	.bundle_extras {
		display: none;
	}
}
#bundle.edit {
	.info {
		display: none;
	}
}
/* End */

/* Bundle Details */
#bundle.detail {
	h1 {
		margin: 0;
		font-family: HelveticaNeue-CondensedBold, Roboto-Condensed, sans-serif;
	}
	.meta {
		font-size: 12px;
		margin: 0 0 20px 0;
		padding: 0;
		color: #ccc;
		a {
			color: #ccc;
			text-decoration:none;
			border-bottom: 1px solid #ccc;
		}
		a:hover {
			color: #ccc;
			border-bottom: none;
		}
	}
	.installation {
		width: 500px;
	}
	.rating {
		float: right;
		#rate.notactive,#rate.rated {
			opacity: 0.5;
		}
		#rate {
			span {
				background: url(../img/thumbsup.png) no-repeat left center;
				padding-left: 20px;
			}
		}
	}
}
/* End */
#home {
	.grid {
		.info {
			width: 290px;
		}
	}
}

table {

	h3 {
		font-family: HelveticaNeue-CondensedBold, Roboto-Condensed, sans-serif;
	}
	a {
		color: #222;
	}
	.item:nth-child(even) {
		background-color: whiteSmoke;
	}
	.item {
		border-bottom: 1px solid #E5E5E5;
	}
	td.gravatar {
		width: 70px;
	}
	img.gravatar {
		border: 1px solid #ccc;
		padding: 2px;
	}
	.info {
		float: left;
		width: 350px;
		margin-right: 12px;
		position: relative;
		top: -3px;
	}
	.meta {
		width: 50px;
	}
	tr.status_n {
		opacity: 0.5;
	}
}

.hide {
	display: none;
}
/* Auto Complete */
.autocomplete-w1 { background:url(../img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }


.clearfix {
  margin-bottom: 18px;
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
}
.clearfix:after {
  clear: both;
}